#first {
    height: 700px;
    position: relative;
}
.top_wrapper{
    position: absolute; bottom: 0;left: 20%;
}
.arrow_left{
    top: 45%;
    position: absolute;
    z-index: 99999 ;
    left: 0 ;
    display: block ;
    height: 100px ;
    width: 25px ;
    background-color: #262829;
}

.arrow_left:before{
    content: url(img/arrow_left.png);
    position: relative;
    top: 40%;
    left: 5px;
}
.arrow_right{
    top: 45%;
    position: absolute;
    z-index: 99999 ;
    right: 0px ;
    display: block ;
    height: 100px ;
    width: 25px ;
    background-color: #262829 ;
}
.arrow_right:before{
    content: url(img/arrow_right.png);
    position: relative;
    top: 40%;
    left: 8px;
}
.slick-frame {
    visibility: hidden;
}
.slick-frame.slick-initialized {
    visibility: visible;
}
.slick-slide img{
    display: inline-block;
}
.slick-dots {
    position: absolute;
    width: 100px;
    top: 15px;
    right: -160px;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li button{
    border: 2px solid white;
    border-radius: 50%;
    -webkit-transition:border-color .03s;
    -o-transition:border-color .03s;
    transition:border-color .03s;
}
.slick-dots li button:before{
    content: "";
    width: 10px;
    height: 10px;
    background:white;
    opacity: 1;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin: -5px 0 0 -5px;
    -webkit-transition:background .03s;
    -o-transition:background .03s;
    transition:background .03s;
}
.slick-dots li button:hover,
.slick-dots li.slick-active button{
border-color: #16d32c;
}
.slick-dots li button:before:hover,
.slick-dots li.slick-active button:before{
border-color: #16d32c;
background: #16d32c;
}
.nav_padding {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.header_info {
    background-color: #262829;
    font-family: Montserrat, sans-serif;
    height: 50px;
    font-size: 13px;
    padding-right: 22px;
}

.header_info_contact {
    text-transform: uppercase;
    color: white;
}

.header_info_number {
    text-transform: uppercase;
    color: #727779
}

.number_margin {
    margin-right: 50px;
}

.title span {
    display: block;
}

#menu-links a {
    color: #5a5a5a;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
    margin-left: 10px;

}

#menu-links a:hover {
    color: #ffac56;
}

.top_menu_box {
    width: 50%;
    background-color: #03b6e7;
    padding: 40px;
    position: relative;
    border: 1px solid #00a6d3;
    color: white;
    text-decoration: none;
    display: block;
}

.top_menu_box:hover {
    background-color: #00a6d3;
}

.top_menu_box:link {
    color: white;
    text-decoration: none;
}

.top_menu_box:hover {
    color: white;
    text-decoration: none;
}

.top_menu_box:visited {
    color: white;
    text-decoration: none;
}

.top_menu_box_button {
    background-color: #16d428 !important;
    border-radius: 25px !important;
    color: white !important;
}

.top_menu {
    background-color: #ffac56;
    padding: 20px;
    color: white;

}

.top_menu span {
    font-weight: bold;
}

.top_menu h2 {
    font-weight: lighter;
}

.top_menu_box_images {
    display: block;
}

.top_menu_box_arrow {
    position: absolute;
    right: 20px;
    margin-left: 10px;
}

.about_us_wrapper {
    padding: 60px 15px;

}

.about_us_image_years {
    position: relative;
    top: 200px;

}

.about_us_text {
    font-family: 'Domine', serif;
    line-height: 2;
    color: #838b8c;
    font-size: 12pt;
    text-align:right;
}

.about_us_text_main_title {
    font-size: 28pt;
    font-weight: bold;
}

.about_us_text_title {
    margin-bottom: -10px;
}

.about_us_image {
    background-image: url(img/aboutus.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.about_us_button {
    background-color: #16d428 !important;
    border-radius: 25px !important;
    margin-top: 50px;
    color: white !important;
}

#steps {
    background-color: #e7eff1;
    padding-top: 100px;
    padding-bottom: 100px;
}

.steps_title {
    margin-left: 30px;
}

.steps_title p {
    color: #898e8f;
    margin-bottom: 0;

}

.steps_title h3 {
    color: #343a3b;
    font-weight: bold;

}

.steps_item_wrapper{
    flex-direction: row;
    display: flex
}

.steps_items img {
    width: 60px;
    height: 63px;
}

.steps_items p:nth-of-type(1) {
    color: #24d635;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 20px;
}

.steps_items p:nth-of-type(2) {
    color: #343a3b;
    font-weight: bold;
    font-size: 20px;
}

.steps_items p:nth-of-type(3) {
    color: #a4acae;
}

#images {
    margin-top: 80px;
}

.images_projects_btn {
    margin: 50px 0 120px 0;
    color: white;
}

.images_projects_btn a {
    border-radius: 25px;
    background-color: #16d428;
}

.images_proj {
    color: #343a3b;
    font-size: 28pt;
    font-weight: bold;

}

.images_what {
    margin-bottom: -10px;
    color: #838b8c;
    font-size: 12pt
}

.block {
    width: 40px;
    height: 40px;
    border: 40px solid transparent;
    border-bottom: 40px solid #03b6e7;
    border-left: 40px solid #03b6e7;
    position: absolute;
    bottom: 0;
    left: 15px;
}

.block > p {
    font-weight: bold;
    color: white;
    font-size: 50px;
    position: absolute;
    left: -33px;
    bottom: -65px;
}

.images_links {
    width: 100%;
    height: 100%;
}

.images_links:hover .block {
    border-bottom: 40px solid orange;
    border-left: 40px solid orange;
}

.images_text {
    height: 100%;
    position: absolute;
    top: 50px;
    padding: 0 30px 0 20px;
    color: white;
    font-family: Domine,sans-serif;
}

.images_text p:nth-of-type(1) {
    font-weight: bold;
    margin-bottom: 0;
}

.images_name {
    border: 2px solid orange;
    border-radius: 25px;
    position: absolute;
    top: 20px;
    left: 30px;
    color: white;
    width: 120px;
    height: 30px;
    text-align: center;
}

.images_group {
    display: flex;
    flex-direction: column;
}

.images_margin {
    margin-top: auto;
}

#testimonials {
    background-color: #03b6e7;
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
}

.underline {
    position: relative;
    padding-right: 70px;
    padding-left: 70px;
}

.underline:after {
    content: "";
    margin: 20px 0 80px 0;
    display: block;
    width: 20px;
    height: 2px;
    background: white;
}

.slider_testimonial_text:before {
    content: url(img/firstquote.png);
    position: absolute;
    left: 0
}

.slider_testimonial_text:after {
    content: url(img/secondquote.png);
    position: absolute;
    right: 0;
    top: 0;
}

.testimonial__autor {
    display: inline-block;
    margin-right: 15px;
}

.testimonial__autor_text {
    display: inline-block;
    position: relative;
    top: 10px;
    text-align: left;
}

.clients {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0;
    color: #a6ecff;
}

#blog_wrapper {
    position: relative;
}

#blog_item {
    background: #e7eff1;
    position: absolute;
    left: 0;
    height: 100%;
}

#blog_image {
    background-image: url(img/man.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    height: 100%;
}

#blog_item_priority {
    z-index: 1;
}

.blog_text {
    margin: 100px 0 100px 0;
}

.blog_news p {
    font-weight: bold;
    color: #898e8f;
    margin-bottom: 0;
}

.blog_news span {
    font-weight: bold;
    font-size: 25px;
    color: #343a3b;
    margin-right: 40px;

}

.blog_text h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.blog_text_news p:nth-of-type(2) {
    color: #838b8c;

}

.blog_link_orange {
    border: 2px solid orange;
    border-radius: 25px;
    color: #606668;
    padding: 5px 39px;
    text-align: center;
    font-weight: 600;
}

.blog_link_gray {
    border: 2px solid gray;
    border-radius: 25px;
    color: #606668;
    padding: 5px 15px;
    text-align: center;
    font-weight: 600;
}

.date {
    margin-bottom: 0;
    margin-top: 50px;
    font-weight: 600;
}

.date span {
    color: #16d428;
    font-weight: 700;
}

#contact {
    margin-bottom: 80px;
}

.contact__header {
    margin: 80px 0 20px 0;
}

.contact__header p {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0;
    color: #898e8f;
}

.contact__header h4 {
    font-size: 28px;
    font-weight: bold;
}

.contact__img {
    float: left;
    position: relative;
    top: 10px;
}

.contact__info {
    padding: 40px 0 30px 40px;
    border: 1px solid #e1eaec;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.contact__info span {
    font-size: 20px;
    margin-left: 40px;
}

.contact__name {
    font-size: 25px;
    font-weight: bold;

}

.contact_media {
    width: 32%;
    margin-left: 15px;
}

#news_letter {
    background-color: #262829;
    padding-top: 70px;
}

.news_letter__items {
    color: white;
    overflow: hidden;
}

.news_letter__items a {
    color: #45494a;
    display: block;
}

.news_letter__items p {
    color: #45494a;
    display: block;
}

.news_letter_form input {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: #323334;
    border-color: transparent;
    height: 50px;
}

.news_letter_form input[placeholder] {
    padding-left: 30px;
}

.news_letter_form button {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px !important;
    border-bottom-left-radius: 25px !important;
    position: relative;
    right: 15px;
    border-color: transparent;
    background-color: #16d428;
    width: 157px;
}


.carousel {
  background: #FAFAFA;
}

.carousel-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}