@media screen and (max-width: 767px) {
	#first{
		background: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	}
	.sl_bg{
		display: none;
	}
	#steps{
		padding-top: 170px;
	}
		.email_media{
		display: block;
		text-align: left;
		margin-right: 0;
	}
    .steps__media *{
        text-align: center;
    }
    .steps__title{
    	text-align: center;
    	margin-bottom: 40px;
    	   margin-left: auto;
    margin-right: auto
    }
		.steps__items{
			text-align: center;
		}
    .about__wrapper p{
    	text-align: center;
    }
    .about__text{
    	text-align: center;
    	
    }
	.about__button{
		margin: 25px auto;
		width: 153px;
	}

	.images__media{
		margin-top: 30px; 
	}
	.images__btn{
		margin-bottom: 25px; 
	}
 
	.blog__news span{
		display: block;
		color: white;
		margin: 0
	}
	.blog__wrapper{
		text-align: center;
		color: white;
	}
	.blog__news a {
    margin-top: 10px;
		display: inline-block;        
    }
	.box__wrapper{
		width: 100%;
    opacity: 0.9;
	}
	.steps__main__text{
		text-align: center;
	}
	#contact{
		padding-right: 15px;
	}
	.contact__media{
  	width: 100%;
  	margin-top: 15px; 
  }
  .images_margin{
	margin-top: 29px;
	}
	.images__text {
    height: 100%;
    position: absolute;
    top: 0;
    padding: 0 30px 0 20px;
    color: white;
    font-family: Domine,sans-serif;
}
	.testimonial__clients{
	margin-top: 20px;
	text-align: center; 
	}
	.slick-dots {
  position: absolute;
  width: 100%;
  height: 30px;
  top: 160px;
  left: 0;
  list-style: none;
  text-align: center;
	}
  .top__wrapper{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
@media screen and (max-width: 1200px) and (min-width: 768px) {
  #first{
    background: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .sl_bg{
    display: none;
  }
  .contact__media{
  	width: 100%;
  	margin-top: 15px; 
  }
  .about__years{
		position: relative;
		top:250px;
	}
  .blog__news a {
    display: block;
    margin-top: 10px;
    width: 170px;
	}
	.slick-dots {
    position: absolute;
    top:90px;
    right: 0;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
	}
	.top__wrapper{
    position: relative;
    bottom: -181px;
	}
	.images__text {
    height: 100%;
    position: absolute;
    top: 0;
    padding: 0 30px 0 20px;
    color: white;
    font-family: Domine,sans-serif;
	}
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  .slick-dots {
    position: absolute;
    top:90px;
    right: -74px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
  }
}

